.App {
  text-align: center;
}

body {
  background: lightgray;
}

#created-task {
  margin: auto;
  background-color: orange;
  width: 30%;
  border-bottom: solid;
  border-width: 1px;
  border-radius: 2px;
}

#created-task:hover {
  background-color: aliceblue;
}