.App {
  text-align: center;
}

body {
  background: lightgray;
}

#created-task {
  margin: auto;
  background-color: orange;
  width: 10%;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}